.container {
    max-width: 90%;
}

.addFavorite:after, .rating:after {
    content: "";
    clear: both;
    display: block;
}

#clearFavorites {
    display: none;
}

.lineBreak {
    border-bottom: 1px solid darkgrey;
}